.divBox {
  display: flex;
  gap: 50px;
}  

  .label {
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
  }
  .link {
    font-size: 13px;
    text-decoration: underline;
    display: inline-block;
    padding-top: 7px;
    font-weight: 400;
    color:  #6495ed;
  }
