.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    /* gap: 12px; */
}
  
.username {
    font-size: 24px;
    font-weight: 700;
}
  
.link {
    display: inline-block;
    text-decoration: underline;
    padding: 5px;
    font-size: 21px;
    font-weight: 600;
    color: #2a363b;
    &:hover {
        color: #1876D1;
    }
}