.wrapper {

}

.list {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 40px;
}

.item {
  display: flex;
  align-items: center;
  gap: 4px;
}
  
.username {
  margin: 0;
  font-weight: 700;
}
.contacts {
  width: 210px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 0;
  font-weight: 700;
}
.contactsSpan {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  color: #fff;
  background-color: green;
  border-radius: 50%;
}